.headerPanel {
  background-color: white;
  color: red;
  width: 100%;
  display: block;
  border-radius: 10px;
  height: 80px;
}

.headerBreadcumn {
  margin-top: 30px;
  margin-left: 20px;
  width: 200px;
  float: left;
  color: red;
}

.headerCompanyList {
  margin-top: 23px;
  margin-left: 20px;
  width: 200px;
  float: left;
}

.headerDate {
  text-align: right;
  margin-top: 29px;
  margin-right: 20px;
  width: 200px;
  float: right;
  font-size: 14px;
  color: black;
}

.headerIcon {
  text-align: right;
  margin-top: 19px;
  margin-right: 20px;
  width: 200px;
  float: right;
  font-size: 14px;
  color: gray;
}

.blockMenu {
  background-color: rgba(45, 45, 45, 0.6);
  position: absolute;
  left: 90%;
  top: 200px;
  z-index: 20000;
  text-align: center;
  width: 130px;
  height: 320px;
  border-radius: 20px;
  font-size: 40px;
}

.settingsIcon {
  text-align: center;
  margin-top: 29px;
  width: 170px;
  float: right;
  font-size: 48px;
  color: rgb(255, 255, 255);
  display: block;
  float: left;
  margin-left: -20px;
}

.settingsBlock {
  height: 90px;
  width: 100%;
}

.settingsBlock .title {
  width: 100%;
  display: block;
  font-size: 14px;
  float: left;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ff0000 !important;
  font-weight: 500;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #ff0000 !important;
  pointer-events: none;
}

.pageNumber {
  margin-top: 820px;
  float: right;
  margin-right: 30px;
  z-index: 100000;
}

.pageNumberEmpty {
  margin-top: 350px;
  float: right;
  margin-right: 30px;
}

.titleDate {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.iconAction {
  margin-left: 10px !important;
  cursor: pointer;
}

.iconAction2 {
  margin-left: 10px !important;
  cursor: pointer;
  float: right;
}

.scroll {
  background: #fff;
  border-radius: 20px;
  overflow: scroll;
  z-index: 200;
  position: relative;
  height: 1100px;
}

.itemSort {
  flex-shrink: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #ffffff;
  color: rgb(32, 31, 31);
  margin: 8px;
  height: 40px;
  cursor: grab;
  padding: 5px 10px;
  border-radius: 10px;
}

.list {
  user-select: none;
  background-color: #bbb8b8;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.dragged {
  background-color: #f71414;
  z-index: 20000;
  color: #fff;
}
@media (min-width: 600px) {
    .list {
      grid-gap: 24px;
    }
  }



  .sortChoose{
    width: 400px;
    margin-top: 20px;
  }

  .sortModal{
    text-align: center;
    margin-top: 20px;
  }
  

  .none{
    display: none;
  }

  .textHeader{
    float: left;

    margin-left: 60px;
  }

  .textWhite{
    color: #fff ;

    margin-left: 60px;
    float: left;
  }

  .textBlack{
    color: #000 ;

    margin-left: 60px;
    float: left;
  }

  .totalhk{
    float: left;
    margin-left: 2em;
  }

  .totalhk2{
    float: left;
    margin-left: 3em;
  }


  .btnUpdateWeek{
    margin: 20px 30px;
  }